.u-section-1 .u-sheet-1 {
  min-height: 1995px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 131px;
  margin: 18px -260px 0 260px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 131px;
  margin: 25px -476px 0 260px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 131px;
  margin: 25px -476px 0 260px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 131px;
  margin: 35px -476px 0 260px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 131px;
  margin: 25px -476px 0 260px;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 131px;
  margin: 16px -476px 0 260px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 16px auto 0;
}

.u-section-1 .u-custom-html-7 {
  height: auto;
  min-height: 607px;
  margin: 30px 613px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 376px;
  margin: -531px 18px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 228px;
  margin: -399px 18px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 570px;
  height: 171px;
  margin: 0 18px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 269px;
  height: 208px;
  margin: -208px 0 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 476px;
  height: 230px;
  margin: -399px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 390px;
  margin: 185px 18px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 563px;
  height: 388px;
  margin: -388px 25px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 570px;
  height: 388px;
  margin: -388px 18px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -251px auto 0 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 215px auto 18px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-5 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-6 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1954px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 356px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -379px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 369px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
    margin-top: -367px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1685px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -247px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 232px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-top: -230px;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
  }
}