.u-section-1 .u-sheet-1 {
  min-height: 943px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 78px;
  margin: 60px 767px 0 46px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 78px;
  margin: -78px 373px 0 401px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 78px;
  margin: -78px 37px 0 781px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 78px;
  margin: 28px 620px 0 179px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 78px;
  margin: -78px 241px 0 558px;
}

.u-section-1 .u-line-1 {
  margin-top: 38px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 478px;
  margin: 46px 667px 0 60px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 376px;
  margin: -478px 28px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 613px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 301px;
    margin-right: 273px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 618px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 520px;
    margin-left: 79px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 141px;
    margin-left: 458px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 527px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 393px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 191px;
    margin-right: 163px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 398px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 379px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 31px;
    margin-left: 348px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 213px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 101px;
    margin-right: 73px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 218px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 199px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 127px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 356px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 18px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-5 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
  }
}